* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border: 4px solid #dedede;
    border-top: none;
    border-left: groove;
  }
  .header {
    width: 100%;
    height: 9%;
    background-color: #4472c4;
  }
  .bod {
    width: 100%;
    height: 91%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
  }
  .sidebar {
    width: 14%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-right: 3px solid rgb(124, 124, 124);
  }
  .sub-nav {
    width: 95%;
    height: 5%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 38px;
    gap: 2px;
  }
  .search {
    width: 5rem;
    height: 2rem;
    background-color: #4472c4;
    color: #ffffff; 
    font-size: 0.78rem;
    border-radius: 2px;
    border: none;
  }
  .txt {
    height: 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
  }
  .box {
    margin-left: 18px;
    width: 79%;
    height: 80%;
    background-color: #ffffff;
    border: 1px;
    display: flex;
    flex-direction: column;
  }
  .table-section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .table-main {
    width: 100%;
    height: 2.2rem;
    border: none;
    table-layout: fixed;
    text-align: center;
  }
  
  .tr1 {
    background-color: #4472c4;
    height: 2rem;
  }
  .td1 {
    color: #ffffff;
    font-weight: 400;
  }
  .td2 {
    height: 2.2rem;
  }
  .td2-1 {
    background-color: #f2f5fc;
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .inpt {
    height: 100%;
    width: 100%;
  }
  .header {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-table {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 2px;
  }
  .city-table {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }

  #input{
    width:24%;
    height:2rem;
  }

  .city,
  .city-name {
    border: 1px solid rgb(168, 168, 168);
    height: 2rem;
    padding: 4px;
    width: 100%;
  }
  .city {
    background-color: #4472c4;
    color: #ffffff;
  }
  .get-weather-btn {
    width: 7.1rem;
    background-color: #4472c4;
    height: 1.6rem;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }
  .bg {
    background-color: rgb(255, 197, 37);
  }
  .jb {
    border-left: none;
    border-top: none;
    border-right: none;
    color: #3981fd;
    border-color: #4488ff;
    background: none;
  }
  .pg {
    border: 3px solid green;
  }
  #nodata {
    margin-top: 7.5rem;
    font-style: normal;
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .kg {
    display: none;
  }